button.app-button-app {

    @include boxShadow();
    @include transition();
    @include animateEaseIn();

    overflow-x: hidden;
    overflow-y: hidden;

    border-radius: 10px;

    small {

        width: max-content;
        margin: 0 auto;
    }
}