section.app-display-user {

    @include transition();

    width: 100%;
    padding: 0 10px;
    margin-top: 10px;

    span.item {

        overflow-y: hidden;
        overflow-x: hidden;

        display: block;
        width: max-content;
    }
}