section.app-infobar-top {

    @include boxShadow();
    @include transition();

    background-color: $c-primary;
    padding: 10px;
    z-index: 10;
    gap: 10px;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;

    &.hide {

        transform: translateY( -100% );
    }

    button {

        @include animateEaseIn();
        
        color: $c-font;
        display: block;
    }
}