section.app-infobar-bottom {

    @include boxShadow();
    @include transition();

    background-color: $c-primary;
    z-index: map-get( $z-index, 'infobar' );
    padding: 10px;
    gap: 10px;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: stretch;

    &.hide {

        transform: translateY( 100% );
    }

    button {

        @include animateEaseIn();

        color: $c-font;
        display: block;
        flex-basis: 100%;

        &.active {  color: $c-active; }
    }
}