section.app-prompt-pwa {

    @include transition();

	background-color: #ffffff;

    z-index: map-get( $z-index, 'pwainstall' );

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;

    button {

        @include animateEaseIn();
        @include transition();

        margin: 5px;
    }
}