section#app-apps-container {

    width: 100%;
    flex-grow: 1;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: stretch;

    gap: 10px;
    padding: 10px;
}