main#app-main-content {

    @include animateEaseIn();
	
    animation-fill-mode: backwards;

    gap: 10px;
    flex-grow: 1;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;

    overflow-x: hidden;
    position: relative;
}